.app-link {
	position: relative;
	display: inline-block;
	font-family: 'RF Dewi', Roboto, sans-serif;
	font-weight: 500;
	color: var(--text-secondary-color);
	text-decoration: none;
	cursor: pointer;
}

.app-link::after {
	position: absolute;
	right: 0;
	bottom: -1px;
	left: 0;
	height: 1px;
	content: '';
	background-color: var(--text-color);
	opacity: 0;
}

.app-link:hover {
	color: var(--text-color);
}

.app-link:hover::after {
	opacity: 1;
}

.app-link.active {
	color: var(--text-color);
}

.flex-link {
	display: flex;
	gap: 4px;
	align-items: center;
}

.menu-opened {
	overflow: hidden;
}
